<html>

<head>
    <link href="/static/styles.css" rel="stylesheet" />
</head>

<body>

    <div class="form-container">
        <form action="/" method="post">
            <label for="query">Search for articles in NYT:</label>
            <input type="text" name="query">
            <button type="submit">Search</button>
        </form>
    </div>

    {% if topic %}
        <h1> Newyork Times about {{ topic | capitalize }} </h1>
        <div class="container">
            {% for i in range(num_articles) %}
            <div class="articles">            
                <h4> {{ headlines[i] }} </h4>
                <p> {{ snippet[i] }} </p>
            </div>
            {% endfor %}
        </div>
    {% endif %}

  

 
</body>

</html>